.AdminContainer {
  padding: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
}

.AdminContainer h1 {
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid rgb(179, 179, 179);
  width: 80%;
  color: rgb(65, 64, 64);
}

.ListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewUser {
  margin-top: 20px;
}

.NewUser button {
  padding: 8px 10px;
  background-color: #98c451;
  border-radius: 45px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.NewUser span {
  margin-right: 10px;
  padding: 2px 6px;
  border-radius: 50%;
  background-color: #fff;
  color: #98c451;
  font-weight: bold;
}

@media screen and (min-width: 420px) {
  .ListContainer {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}